/* Profile initial state */
.profile {
  width: 180px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.9);
  transition:
   transition:
  opacity 0.5s  cubic-bezier(0.22, 1, 0.36, 1),
  transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);

  will-change: transform, opacity;
}

/* Profile appears */
.profile.show {
  opacity: 1;
  transform: scale(1);
}

/* Profile second animation (move to top-left) */
.profile.move {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 90px;
  border-radius: 35%;

  transform: translate3d(0, 0, 0);

  transition:
    transform 0.45s cubic-bezier(0.18, 0.89, 0.32, 1.15),
    width 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    border-radius 0.45s cubic-bezier(0.22, 1, 0.36, 1);

  will-change: transform;
}


/* Caption base */
.caption {
  margin-top: 25px;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  background: linear-gradient(90deg, #00c6ff, #0072ff, #00ffd5);
  -webkit-background-clip: text;
  color: transparent;

  opacity: 0;
  transform: translateY(22px);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);

  will-change: transform, opacity;
}

/* Caption enters */
.caption.show {
  opacity: 1;
  transform: translateY(0);
}

/* Caption exits */
.caption.hide {
  opacity: 0;
  transform: translateY(-12px);
}
 
.taskbar.show {
  top: 0;
}

/* Background layer */
.background {
  position: fixed;
  inset: 0;
  background: url("bg.jpg") center / cover no-repeat;
  filter: blur(20px);
  z-index: -1;
}

/* About Me heading - typewriter effect */
.about h2 {
  font-family: Bebas Neue, sans-serif;
  font-size: 42px;
  margin-bottom: 20px;

  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid rgba(255, 255, 255, 0.8);

  width: 0;
  animation:
    typingAbout 1.8s steps(8, end) forwards,
    blinkCursor 0.7s step-end infinite;
}

/* Typewriter animation */
@keyframes typingAbout {
  from { width: 0; }
  to { width: 8ch; } /* ABOUT ME = 8 characters */
}

/* Cursor blink */
@keyframes blinkCursor {
  50% { border-color: transparent; }
}

.taskbar a:hover {
  text-shadow: 0 0 8px rgba(0,198,255,0.6);
}

/* Certificates grid */
.cert-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.cert-card {
  width: 260px;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #ddd;
  background: rgba(255,255,255,0.1);
  text-decoration: none;
  transition: 0.3s;
}

.cert-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
